snippet complib "Add components.jar to .classpath (CSE 2221)" b
<!-- DELETE THIS BEFORE SUBMISSION-->
<classpathentry kind="lib" path="/home/marcialalfonso/Documents/OSU/Academics/AU23/CSE2221/components.jar">
	<attributes>
		<attribute name="javadoc_location" value="http://web.cse.ohio-state.edu/software/common/doc8"/>
	</attributes>
</classpathentry>
<!-- DELETE THIS BEFORE SUBMISSION-->
endsnippet
